:root {
  --transision-time-out: 1.5s;
  --transision-time-in: 0.5s;
}

.nav-links {
  position: fixed;
  top: 0;
  right: -100%;
  display: flex;
  flex-flow: column;
  background: rgba(112, 128, 144, 0.507);
  transition: var(--transision-time-in) ease-in;
  min-height: 100vh;
  padding: 5rem 0 0 0;
  backdrop-filter: blur(2px);
  z-index: 200;
}

.show-nav-links {
  right: 0;
  transition: calc(var(--transision-time-out) / 1.5) ease-out;
}

.nav-link {
  margin: 1rem;
  text-decoration: none;
}

.menu {
  position: fixed;
  top: 0;
  right: 0;
  background: rgba(105, 105, 105, 0.377);
  margin: 1rem;
  padding: 0.25rem 0.5rem;
  border-radius: 25%;
  animation: menu-spin-back var(--transision-time-in) ease-in-out;
  animation-fill-mode: forwards;
  backdrop-filter: blur(2px);
  z-index: 300;
}

.menu-line {
  width: 2rem;
  height: 0.25rem;
  background: #000;
  margin: 0.45rem 0;
  border-radius: 8px;
  z-index: 300;
}
.menu-line:nth-child(1) {
  transition: var(--transision-time-in);
  transform: rotate(0) translate(0);
}
.menu-line:nth-child(2) {
  opacity: 1;
  transition: var(--transision-time-in);
  transform: rotate(0);
}
.menu-line:nth-child(3) {
  transition: var(--transision-time-in);
  transform: rotate(0) translate(0);
}

.show-menu .menu-line:nth-child(1) {
  transition: var(--transision-time-out);
  transform: rotate(45deg) translate(0.5rem, 0.5rem);
}
.show-menu .menu-line:nth-child(2) {
  opacity: 0;
  transition: var(--transision-time-out);
  transform: rotate(360deg);
}
.show-menu .menu-line:nth-child(3) {
  transition: var(--transision-time-out);
  transform: rotate(-45deg) translate(0.5rem, -0.5rem);
}
.show-menu {
  animation: menu-spin var(--transision-time-out) cubic-bezier(0.8, -0.07, 0.05, 1.8);
  animation-fill-mode: forwards;
}

@keyframes menu-spin {
  0% {
    border-radius: 25%;
  }

  50% {
    border-radius: 100%;
  }

  100% {
    border-radius: 100%;
    transform: rotate(360deg);
  }
}

@keyframes menu-spin-back {
  0% {
    border-radius: 100%;
  }

  50% {
    border-radius: 50%;
  }

  100% {
    border-radius: 25%;
    transform: rotate(-180deg);
  }
}
